<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Авторизация</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../../css/authorization.css">
</head>

<body>
  <div class="form-container-cm">
    <h2>Авторизация</h2>
    <form th:action="@{/auth/authenticate}" method="post" th:object="${authenticationRequest}">
      <input type="email" placeholder="Почта" th:field="*{email}" required>
      <input type="password" placeholder="Пароль" th:field="*{password}" required>
      <button type="submit" class="btn-outline-dark">Войти</button>
    </form>
    <div class="links">
      <a href="#">Забыли пароль?</a>
      <a th:href="@{/auth/signup}" class="bold-link">Регистрация</a>
    </div>
  </div>
</body>

</html>