<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Изменение пароля</title>
    <link rel="stylesheet" href="../css/update-password.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../../css/authorization.css"> -->
</head>

<body>
    <div class="form-container">
        <h2>Изменение пароля</h2>
        <form th:action="@{/personal-account/update-password}" method="post" th:object="${passwordHandlerDto}">
            <input type="password" placeholder="Введите старый пароль" th:field="*{oldPassword}" required>
            <input type="password" placeholder="Введите новый пароль" th:field="*{newPassword}" required>
            <input type="password" placeholder="Повторите новый пароль" th:field="*{newPasswordRepeat}" required>
            <p th:if="${message}" th:text="${message}"></p>
            <input type="submit">
        </form>
    </div>
</body>

</html>