body {
    display: flex;
    flex-direction: column;
    background-color: #EEECED;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

/* .logo {
     width: 150px;
     height: auto;
 } */

.form-container-cm {
    width: 250px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 45px;
    background-color: #F6F6F6;
}

.form-container-cm h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #7B7464;
}


.form-container-cm input[type="text"],
.form-container-cm input[type="email"],
.form-container-cm input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: none;
    border-radius: 45px;
    background-color: #E7DDD4;
}

.form-container-cm button {
    width: 100%;
    padding: 15px;
    background-color: #7B7464;
    color: white;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    margin-top: 25px;
    margin-bottom: 25px;

}


.form-container-cm a {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    margin-top: 10px;
    color: #7B7464;
    text-decoration: none;
    /* font-weight: bold; */
}

.bold-link {
    font-weight: bold;
    margin-left: 15px;
    /* Жирный текст для ссылок с классом bold-link */
}