.form-container {
    max-width: 600px;
    /* background-color: #7B9464; */
}

.castome-tema {
    background-color: #EEECED;
}

.center-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: fit-content;
    /* Задает ширину таблицы равной содержимому */
    max-width: 80%;
    /* Максимальная ширина таблицы */
}

.center-text {
    text-align: center;
}

.ims {
    width: 40px;
}

.cmd {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    width: fit-content;
    /* Задает ширину таблицы равной содержимому */
    max-width: 100%;
    /* Максимальная ширина таблицы */
}

.mr {
    margin-right: 2px;
}

.mr-2 {
    margin-right: 25px;
}